body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9f9; }

a {
  text-decoration: none; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h2, h3 {
  font-weight: normal; }

a, p {
  font-size: 22px; }

.container {
  margin: 0 auto;
  width: 80%; }

nav {
  background-color: #212121; }
  nav #navbg {
    background-color: #FF5722;
    position: relative;
    width: 100%;
    height: 120px;
    top: -70px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); }
    nav #navbg:after {
      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background-color: #FF5722;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: skewY(4deg);
      -ms-transform: skewY(4deg);
      transform: skewY(4deg);
      z-index: 1; }
  nav #navbar {
    background-color: #f9f9f9;
    position: relative;
    width: 100%;
    height: 70px;
    top: -140px;
    z-index: 3;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); }
    nav #navbar:after {
      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background-color: #f9f9f9;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
      transform: skewY(2deg);
      z-index: -1; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  nav li {
    margin-top: 30px;
    padding: 20px;
    position: relative;
    z-index: 2;
    overflow: hidden; }
    nav li::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: #212121;
      opacity: 0.2;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      -webkit-transform: scaleY(0.618) translateX(-110%);
      -ms-transform: scaleY(0.618) translateX(-110%);
      transform: scaleY(0.618) translateX(-110%); }
    nav li:hover::before, nav li:focus::before {
      -webkit-transform: scaleY(0.618) translateX(0);
      -ms-transform: scaleY(0.618) translateX(0);
      transform: scaleY(0.618) translateX(0); }
  nav a {
    color: #212121;
    padding: 20px; }

header {
  background-color: #212121;
  top: -150px;
  z-index: -2;
  text-align: center;
  overflow: hidden;
  -webkit-animation: intro 0.7s ease both, height 0.4s ease both 4s;
  animation: intro 0.7s ease both, height 0.4s ease both 4s; }
  header #truck {
    width: 100%;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px); }
  header h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: #F57C00;
    font-weight: black;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
    header h1 span {
      color: #f9f9f9; }
  header h2 {
    color: #f9f9f9; }
  header button {
    margin: 30px 10px; }

.buttons {
  z-index: 3; }

.btn {
  position: relative;
  background: none;
  cursor: pointer;
  min-width: 250px;
  text-transform: uppercase;
  position: relative;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 20px 30px;
  color: #fff;
  overflow: hidden; }
  .btn:after {
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #F57C00;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .btn:hover, .btn:active {
    color: #000;
    border: 3px solid #FF5722; }
  .btn:hover:after {
    height: 260%;
    opacity: 1; }
  .btn:active:after {
    height: 400%;
    opacity: 1; }
  .btn a {
    color: #f9f9f9;
    text-decoration: none;
    padding: 20px 30px;
    position: relative;
    z-index: 1; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex div {
    width: 100%; }

#navbg, #navbar, #company {
  -webkit-animation: appear 0.5s ease both 4s;
  animation: appear 0.5s ease both 4s; }

nav {
  -webkit-animation: intro 0.7s ease both;
  animation: intro 0.7s ease both; }

.images {
  position: absolute;
  width: 10%;
  top: 35%;
  left: 30vw;
  -webkit-animation: images 0.75s linear both 2s;
  animation: images 0.75s linear both 2s; }
  .images #box-one {
    position: absolute;
    left: 0vw;
    -webkit-animation: box 0.75s ease both 0.5s, move 0.25s ease-in both 2.75s;
    animation: box 0.75s ease both 0.5s, move 0.25s ease-in both 2.75s; }
  .images #box-two {
    position: absolute;
    left: 12vw;
    -webkit-animation: box 0.75s ease both 0.9s, move 0.25s ease-in both 3s;
    animation: box 0.75s ease both 0.9s, move 0.25s ease-in both 3s; }
  .images #box-tree {
    position: absolute;
    left: 24vw;
    -webkit-animation: box 0.75s ease both 1.3s, move 0.25s ease-in both 3.25s;
    animation: box 0.75s ease both 1.3s, move 0.25s ease-in both 3.25s; }

#truck {
  position: relative;
  -webkit-animation: truck 0.75s ease both 2s, zuck 0.2s ease both 2.9s;
  animation: truck 0.75s ease both 2s, zuck 0.2s ease both 2.9s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  #truck:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

@-webkit-keyframes intro {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes intro {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes box {
  0% {
    -webkit-transform: scale(0) rotateZ(0deg);
    transform: scale(0) rotateZ(0deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@keyframes box {
  0% {
    -webkit-transform: scale(0) rotateZ(0deg);
    transform: scale(0) rotateZ(0deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@-webkit-keyframes move {
  0% { }
  100% {
    left: 50vw; } }

@keyframes move {
  0% { }
  100% {
    left: 50vw; } }

@-webkit-keyframes images {
  0% { }
  100% {
    left: 10vw; } }

@keyframes images {
  0% { }
  100% {
    left: 10vw; } }

@-webkit-keyframes truck {
  0% {
    left: 20vw;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@keyframes truck {
  0% {
    left: 20vw;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes height {
  0% {
    height: 80vh; }
  100% {
    height: 60vh; } }

@keyframes height {
  0% {
    height: 80vh; }
  100% {
    height: 60vh; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    top: -20vh; }
  100% {
    opacity: 1; } }

@keyframes appear {
  0% {
    opacity: 0;
    top: -20vh; }
  100% {
    opacity: 1; } }

#services {
  text-align: center; }
  #services .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 550px;
    min-height: 400px;
    margin: 0 auto;
    padding: 10px 20px; }
    #services .row:hover #van {
      left: 55%; }
    #services .row:hover #person {
      left: 50%; }
  #services .illustrations {
    position: relative;
    margin: 30px 10px 0;
    padding: 30px 0 0;
    height: 100px; }
  #services #blue, #services #red, #services #van, #services #van-two, #services #person {
    position: absolute; }
  #services .pin {
    width: 40px; }
  #services #blue {
    left: 5%; }
  #services #red {
    right: 5%; }
  #services #van {
    left: 15%;
    top: -10%;
    width: 150px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #services #van-two {
    width: 200px;
    right: 10%;
    top: -10%; }
  #services #person {
    width: 100px;
    left: 20%;
    top: 0%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#adj {
  position: relative;
  height: 250px;
  overflow: hidden; }

.layer-one, .layer-two, .layer-tree {
  position: absolute;
  height: 250px;
  left: -5%;
  top: 0;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg); }

.layer-one {
  width: 33%;
  z-index: 3;
  background-color: #FF5722; }

.layer-two {
  width: 70%;
  z-index: 2;
  background-color: #F57C00; }

.layer-tree {
  width: 150%;
  z-index: 1;
  background-color: #FF9800; }

.above-one, .above-two, .above-tree {
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
  text-align: center; }

.above-two {
  margin-left: 40%; }

.above-tree {
  margin-left: 15%; }

.icon {
  width: 100px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .icon:hover {
    width: 110px; }

.space {
  padding-bottom: 500px; }

#location {
  text-align: center;
  position: relative;
  -webkit-perspective: 10000px;
  perspective: 10000px; }
  #location #germany {
    fill: #FF5722;
    width: 200px;
    -webkit-filter: drop-shadow(10px 10px 0px #212121) drop-shadow(15px 15px 5px #BDBDBD);
    filter: drop-shadow(10px 10px 0px #212121) drop-shadow(15px 15px 5px #BDBDBD);
    -webkit-transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg);
    transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  #location .hover:hover #germany {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  #location .hover:hover #pin {
    top: 51%;
    left: 21%; }
  #location #pin {
    position: absolute;
    width: 40px;
    top: 43%;
    left: 19%;
    z-index: 1;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25)); }
  #location #europe {
    width: 300px;
    -webkit-filter: drop-shadow(5px 5px 0px #F57C00) drop-shadow(10px 10px 5px #BDBDBD);
    filter: drop-shadow(5px 5px 0px #F57C00) drop-shadow(10px 10px 5px #BDBDBD);
    -webkit-transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg);
    transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    #location #europe:hover {
      -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -webkit-filter: drop-shadow(2px 2px 0px #F57C00) drop-shadow(5px 5px 5px #BDBDBD);
      filter: drop-shadow(2px 2px 0px #F57C00) drop-shadow(5px 5px 5px #BDBDBD); }

#uber-uns {
  background-color: #212121;
  color: #f9f9f9;
  text-align: center;
  min-height: 500px;
  padding: 30px 0; }
  #uber-uns p {
    text-align: justify; }
  #uber-uns .flex {
    position: relative; }
    #uber-uns .flex div {
      width: 40vw;
      margin: 0 2vw; }

div #bild {
  position: absolute;
  left: 60%;
  max-width: 25vw;
  height: 50vh;
  margin: 10px 50px 0;
  border-radius: 50px;
  overflow: hidden;
  border: 7px solid #f9f9f9;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background: #f9f9f9; }
  div #bild:hover figure {
    bottom: 0; }
  div #bild:hover #pawel {
    width: 85%;
    right: 10%;
    top: 3%; }

div #pawel {
  position: absolute;
  right: 12%;
  top: 5%;
  width: 80%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

div figure {
  position: absolute;
  width: 100%;
  bottom: -20%;
  color: #212121;
  background-color: #f9f9f9;
  padding: 10px 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  div figure h2 {
    margin: 0; }

#kunden {
  background-color: #F57C00;
  height: 300px;
  -webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: relative; }
  #kunden h2 {
    color: #f9f9f9;
    margin: 0 auto 20px;
    padding: 20px;
    text-align: center;
    width: 50%; }
  #kunden .flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  #kunden [src^="img/vw"], #kunden [src^="img/zeg"], #kunden [src^="img/papi"] {
    width: 10%;
    height: 10%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-filter: drop-shadow(5px 5px 5px #212121);
    filter: drop-shadow(5px 5px 5px #212121);
    padding: 20px;
    border-radius: 20px; }

#kontakt {
  height: 400px;
  background-color: #212121;
  text-align: center;
  color: #f9f9f9;
  position: relative; }
  #kontakt h2 {
    margin: 0;
    padding: 30px; }
  #kontakt ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #kontakt ul li {
      list-style: none;
      margin: 0 60px; }
      #kontakt ul li a .icons {
        font-size: 40px;
        color: #212121;
        padding: 20px 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      #kontakt ul li:nth-child(1) a:hover {
        background: #cd201f; }
        #kontakt ul li:nth-child(1) a:hover .icons {
          color: #f9f9f9; }
        #kontakt ul li:nth-child(1) a:hover:before {
          background: #b71a19; }
        #kontakt ul li:nth-child(1) a:hover:after {
          background: #960e0d; }
      #kontakt ul li:nth-child(2) a:hover {
        background: #3b5999; }
        #kontakt ul li:nth-child(2) a:hover .icons {
          color: #f9f9f9; }
        #kontakt ul li:nth-child(2) a:hover:before {
          background: #2d467b; }
        #kontakt ul li:nth-child(2) a:hover:after {
          background: #1a2f5d; }
      #kontakt ul li:nth-child(3) a:hover {
        background: #25D366; }
        #kontakt ul li:nth-child(3) a:hover .icons {
          color: #f9f9f9; }
        #kontakt ul li:nth-child(3) a:hover:before {
          background: #1db956; }
        #kontakt ul li:nth-child(3) a:hover:after {
          background: #169042; }
      #kontakt ul li a {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        background: #f9f9f9;
        text-align: center;
        -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
        -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
        box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        #kontakt ul li a:before {
          content: '';
          position: absolute;
          top: 10px;
          left: -20px;
          height: 100%;
          width: 20px;
          background: #BDBDBD;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-transform: rotate(0deg) skewY(-45deg);
          -ms-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg); }
        #kontakt ul li a:after {
          content: '';
          position: absolute;
          bottom: -20px;
          left: -10px;
          height: 20px;
          width: 100%;
          background: #757575;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-transform: rotate(0deg) skewX(-45deg);
          -ms-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg); }
        #kontakt ul li a:hover {
          -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
          transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
          -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5); }

footer {
  height: 100px;
  background: #212121;
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px); }
  footer .flex {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  footer a {
    padding: 20px;
    color: #f9f9f9; }
    footer a:hover {
      color: #BDBDBD; }
  footer p {
    text-align: center;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-size: 15px; }
