// Colors
$dark: #212121
$gray: #757575
$light: #BDBDBD
$white: #f9f9f9
$deepOrange: #FF5722
$orange: #F57C00
$lightOrange: #FF9800

// General
body
	font-family: 'Raleway', sans-serif
	background-color: $white
a 
	text-decoration: none
// Website
h2
	font-size: 35px
h3
	font-size: 28px
h2, h3
	font-weight: normal
a, p 
	font-size: 22px

.container
	margin: 0 auto
	width: 80%

nav
	background-color: $dark 
	#navbg
		background-color: $deepOrange
		position: relative
		width: 100%
		height: 120px
		top: -70px
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3)
		&:after
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
			position: absolute
			width: 100%
			height: 100%
			content: ''
			background-color: $deepOrange 
			top: 0
			right: 0 
			bottom: 0 
			left: 0
			transform-origin: top left
			transform: skewY(4deg)
			z-index: 1

	#navbar
		background-color: $white
		position: relative
		width: 100%
		height: 70px
		top: -140px
		z-index: 3
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
		&:after
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
			position: absolute
			width: 100%
			height: 100%
			content: ''
			background-color: $white 
			top: 0
			right: 0 
			bottom: 0 
			left: 0
			transform-origin: top left
			transform: skewY(2deg)
			z-index: -1
	ul 
		display: flex
		justify-content: flex-end
	li  
		margin-top: 30px
		padding: 20px
		position: relative 
		z-index: 2
		overflow: hidden
		&::before
			position: absolute
			top: 0
			left: 0
			z-index: -1
			width: 100%
			height: 100%
			background: $dark
			opacity: 0.2
			content: ''
			-webkit-transition: -webkit-transform 0.3s
			transition: transform 0.5s
			-webkit-transform: scaleY(0.618) translateX(-110%)
			transform: scaleY(0.618) translateX(-110%)
		&:hover::before, &:focus::before
			-webkit-transform: scaleY(0.618) translateX(0)
			transform: scaleY(0.618) translateX(0)
	a
		color: $dark
		padding: 20px


header
	// height: 80vh
	background-color: $dark
	top: -150px
	z-index: -2
	text-align: center
	overflow: hidden
	animation: intro 0.7s ease both, height 0.4s ease both 4s
	box-shadow: 0 10px 10px rgba(0,0,0,0.3)
	#truck 
		max-width: 700px
		transform: translateZ(1px)
	h1
		font-size: 100px
		text-transform: uppercase
		color: $orange
		font-weight: black
		text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
		span
			color: $white
	h2
		color: $white
button
	margin: 30px 10px 


.buttons
	z-index: 3

.btn 
	position: relative
	background: none
	cursor: pointer
	min-width: 250px
	text-transform: uppercase
	position: relative
	border: 3px solid #fff
	border-radius: 15px 
	padding: 20px 30px
	color: #fff
	overflow: hidden 
	&:after 
		content: ''
		position: absolute
		z-index: 0
		-webkit-transition: all 0.3s
		-o-transition: all 0.3s
		transition: all 0.3s
		width: 100%
		height: 0
		top: 50%
		left: 50%
		background: $orange
		opacity: 0
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg)
		-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg)
		transform: translateX(-50%) translateY(-50%) rotate(45deg) 
	&:hover, &:active 
		color: #000 
		border: 3px solid $deepOrange
	&:hover:after 
		height: 260%
		opacity: 1 
	&:active:after 
		height: 400%
		opacity: 1 
	a 
		color: $white 
		text-decoration: none
		position: relative 
		z-index: 1
	
.flex
	display: flex
	div
		width: 100%

// Animation
#navbg, #navbar, #company 
	animation: appear 0.5s ease both 4s

nav
	animation: intro 0.7s ease both

.images
	position: absolute
	width: 10% 
	top: 35%
	left: 30vw
	animation: images 0.75s linear both 2s
	#box-one
		position: absolute
		left: 0vw
		animation: box 0.75s ease both 0.5s, move 0.25s ease-in both 2.75s 
	#box-two
		position: absolute
		left: 12vw 
		animation: box 0.75s ease both 0.9s, move 0.25s ease-in both 3s 
	#box-tree
		position: absolute
		left: 24vw 
		animation: box 0.75s ease both 1.3s, move 0.25s ease-in both 3.25s 

#truck
	position: relative
	animation: truck 0.75s ease both 2s, zuck 0.2s ease both 2.9s
	transition: all 0.4s 
	transform: scale(1)
	&:hover 
		transform: scale(1.2)

@media screen and (min-width: 1300px)
	@keyframes intro
		0%
			width: 0%
		100%
			width: 100%

	@keyframes box 
		0% 
			transform: scale(0) rotateZ(0deg)
		100%
			transform: scale(1) rotateZ(360deg)

	@keyframes move
		0%

		100%
			left: 55vw

	@keyframes images
		0%
			
		100%
			left: 10vw

	@keyframes truck 
		0%
			left: 20vw
			opacity: 0
		100%
			left: 0
			opacity: 1

	@keyframes height  
		0%
			height: 80vh
		100%
			height: 60vh

	@keyframes appear
		0%
			opacity: 0
			top: -20vh
		100%
			opacity: 1

// Main
#services
	text-align: center
	.row
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 400px
		margin: 0 auto
		padding: 10px 20px 
		&:hover #van
			left: 55%
		&:hover #person
			right: 45%
	.illustrations
		position: relative
		margin: 30px 10px 0
		padding: 30px 0 0
		height: 100px
	
	#blue, #red, #van, #van-two, #person
		position: absolute
	// left
	.pin 
		width: 40px
	#blue 
		left: 5%
	#red 
		right: 5%
	#van 
		left: 15%
		top: -10%
		width: 150px
		transition: all 0.5s ease
	// rigth 
	#van-two 
		width: 200px
		right: 10%
		top: -10%
	#person
		width: 100px
		right: 60%
		top: 0%
		transition: all 0.5s ease
// Adjetivos
#adj 
	position: relative
	height: 250px 
	overflow: hidden

.layer-one, .layer-two, .layer-tree
	position: absolute
	height: 250px 
	left: -5%
	top: 0
	transform: skew(-20deg)	
.layer-one
	width: 33% 
	z-index: 3
	background-color: $deepOrange
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3)
.layer-two
	width: 70% 
	z-index: 2
	background-color: $orange
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3)
.layer-tree
	width: 150% 
	z-index: 1
	background-color: $lightOrange
.above-one, .above-two, .above-tree
	transform: skew(20deg)
	text-align: center
.above-two
	margin-left: 40%
.above-tree
	margin-left: 15%
.icon
	width: 100px
	padding: 10px
	background-color: $white
	border-radius: 50%
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25)
	transition: all 0.3s ease 
	&:hover
		width: 110px

// Location
#location 
	text-align: center
	position: relative
	perspective: 10000px

	#germany
		fill: $deepOrange
		width: 200px
		filter: drop-shadow(10px 10px 0px $dark) drop-shadow(15px 15px 5px $light)
		transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg)
		transition: all 1s ease 
	.hover
		&:hover
			#germany
				transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
			#pin 
				top: 51%
				left: 21%
	#pin 
		position: absolute
		width: 40px
		top: 43%
		left: 19%
		z-index: 1
		transition: all 1s ease 
		filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25))
	#europe
		width: 300px
		filter: drop-shadow(5px 5px 0px $orange) drop-shadow(10px 10px 5px $light)
		transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg)
		transition: all 1s ease 
		&:hover 
			transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
			filter: drop-shadow(2px 2px 0px $orange) drop-shadow(5px 5px 5px $light)

// Über Uns
#uber-uns
	background-color: $dark
	color: $white
	text-align: center
	min-height: 500px
	padding: 30px 0 
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3)
	p 
		text-align: justify
	.flex
		position: relative
		div
			width: 40vw
			margin: 0 2vw 
#bild
	position: absolute
	left: 60%
	max-width: 25vw
	height: 450px
	margin: 10px 50px 0
	border-radius: 50px
	overflow: hidden
	border: 7px solid $white
	box-shadow: 10px 10px 20px rgba(0,0,0,0.5)
	background: $white
	&:hover
		figure
			bottom: 0
				
#pawel
	position: absolute
	right: 12%
	top: 5%
	width: 80%
	transition: all 0.5s ease 

figure
	position: absolute
	width: 100%
	bottom: -20%
	color: $dark
	background-color: $white
	padding: 10px 0
	transition: all 0.5s ease 
	h2
		margin: 0

// Kunden
#kunden
	background-color: $orange
	height: 300px
	box-shadow: 0px -10px 20px rgba(0,0,0,0.3), 0 10px 20px rgba(0,0,0,0.3)
	z-index: 1
	position: relative
	h2
		color: $white
		margin: 0 auto 20px
		padding: 20px
		text-align: center
		width: 50%
	.flex
		align-items: center
		justify-content: space-around
	[src^="img/vw"], [src^="img/zeg"], [src^="img/papi"]
		width: 10%
		height: 10%
		transition: all 0.5s ease 
		filter: drop-shadow(5px 5px 5px $dark)
		padding: 20px
		border-radius: 20px
// Kontakt
#kontakt
	height: 400px
	background-color: $dark 
	text-align: center
	color: $white
	position: relative
	h2 
		margin: 0
		padding: 30px
	ul
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		margin: 0
		padding: 0
		display: flex
		li 
			list-style: none 
			margin: 0 60px 
			a .icons
				font-size: 40px 
				color: $dark 
				padding: 20px 0
				transition: all 0.5s ease
			// Mail
			&:nth-child(1) a:hover 
				background: #cd201f
				.icons 
					color: $white
				&:before
					background: #b71a19
				&:after 
					background: #960e0d
			// Facebook
			&:nth-child(2) a:hover 
				background: #3b5999
				.icons 
					color: $white
				&:before
					background: #2d467b
				&:after 
					background: #1a2f5d	
			// Whatsapp
			&:nth-child(3) a:hover 
				background: #25D366
				.icons 
					color: $white
				&:before
					background: #1db956
				&:after 
					background: #169042
			a 
				position: relative
				display: block
				width: 80px
				height: 80px 
				background: $white
				text-align: center
				transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0)
				box-shadow: -20px 20px 10px rgba(0,0,0,0.5)
				transition: all 0.5s ease
				&:before
					content: ''
					position: absolute
					top: 10px
					left: -20px 
					height: 100%
					width: 20px 
					background: $light 
					transition: all 0.5s ease 
					transform: rotate(0deg) skewY(-45deg)
				&:after
					content: ''
					position: absolute
					bottom: -20px
					left: -10px 
					height: 20px
					width: 100%
					background: $gray
					transition: all 0.5s ease 
					transform: rotate(0deg) skewX(-45deg)
				&:hover
					transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px)
					box-shadow: -50px 50px 50px rgba(0,0,0,0.5)

footer
	height: 100px
	background: $dark
	box-shadow: 0 -10px 10px rgba(0,0,0, 0.25) 
	transform: translateZ(1px)
	.flex 
		justify-content: space-around
	a 
		padding: 20px 
		color: $white
		&:hover
			color: $light
	p
		text-align: center
		color: $white
		margin: 0
		padding: 0
		font-size: 15px

@media screen and (max-width: 1300px)
	.container
		width: 90%
	header 
		h1 
			font-size: 70px
		h2
			font-size: 25px
	button
		margin: 10px
	.images
		display: none
	#uber-uns .flex div
		width: 50vw
		margin: 0 2vw
	#bild
		left: 60%
		top: 12%
		max-width: 30vw
		height: 400px
	#pawel
		right: 5%
		top: 0%
		width: 90%
	header #truck 
		max-width: 580px
	#services .row:hover #van
			left: 50%
	#kunden 
		[src^="img/vw"], [src^="img/zeg"], [src^="img/papi"]
			width: 14%
			height: 14%
@media screen and (max-width: 1000px)
	header #truck 
		max-width: 400px

@media screen and (max-width: 850px)
	.flex 
		flex-wrap: wrap 
	header
		padding-bottom: 30px

	#truck 
		display: none 
	#location
		#pin 
			width: 40px
			top: 22%
			left: 39%
		.hover
			&:hover
				#pin 
					top: 27%
					left: 43%
	#uber-uns
		height: 1000px
		.flex div
			width: 85vw
			margin: 0 auto
	#bild
		left: 13%
		top: 108%
		max-width: 60vw
				
	#pawel
		right: 12%
		top: -5%
		width: 80%
	nav
		li  
			margin-top: 15px
			padding: 15px

@media screen and (max-width: 550px)
	header h1
		font-size: 60px
	h2
		font-size: 30px
		border-bottom: 3px solid $dark
	h3
		font-size: 22px
	a, p 
		font-size: 18px
	#navbar 
		li  
			margin-top: 30px
			padding: 0px
		a 
			padding: 10px
	#adj 
		height: 600px 
		overflow: hidden
		display: flex
		flex-direction: column
		h2
			border-bottom: none
			color: $white
	.layer-one, .layer-two, .layer-tree
		position: static
		transform: skew(0deg)	
		width: 100% 
		height: 200px 
	.layer-one
		box-shadow: 0 8px 10px rgba(0,0,0,0.3)
	.layer-two
		box-shadow: 0 8px 10px rgba(0,0,0,0.3)
	.above-one, .above-two, .above-tree
		transform: skew(0deg)
	.above-two,	.above-tree
		margin-left: 0%
	.icon
		width: 80px
		padding: 5px
		border-radius: 25%

	#uber-uns
			height: 800px
			#bild
				height: 330px	
				left: 2%
				max-width: 80vw
	#kontakt 
		height: 550px
		ul
			flex-direction: column
			li 
				margin: 60px 0 0
	footer 
		height: 180px
		text-align: center
		.flex 
			flex-direction: column
			justify-content: flex-start
		a 
			padding: 20px 0 0
		p 
			margin-top: 20px
	#kunden 
		[src^="img/vw"], [src^="img/zeg"], [src^="img/papi"]
			width: 25%
			height: 25%
			padding: 0