@import landing/_variables.sass 

// Global
body
	font-family: 'Raleway', sans-serif
	background-color: $white
a 
	text-decoration: none
h2
	font-size: 35px
h3
	font-size: 28px
h2, h3
	font-weight: normal
a, p 
	font-size: 22px

.container
	margin: 0 auto
	width: 80%

.buttons
	z-index: 3



.btn 
	position: relative
	background: none
	cursor: pointer
	min-width: 250px
	text-transform: uppercase
	position: relative
	border: 3px solid #fff
	border-radius: 15px 
	padding: 20px 30px
	color: #fff
	overflow: hidden 
	&:after 
		content: ''
		position: absolute
		z-index: 0
		-webkit-transition: all 0.3s
		-o-transition: all 0.3s
		transition: all 0.3s
		width: 100%
		height: 0
		top: 50%
		left: 50%
		background: $orange
		opacity: 0
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg)
		-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg)
		transform: translateX(-50%) translateY(-50%) rotate(45deg) 
	&:hover, &:active 
		color: #000 
		border: 3px solid $deepOrange
	&:hover:after 
		height: 260%
		opacity: 1 
	&:active:after 
		height: 400%
		opacity: 1 
	a 
		color: $white 
		text-decoration: none
		position: relative 
		z-index: 1
	
.flex
	display: flex
	div
		width: 100%

// navbar
@import landing/_nav.sass

// header
@import landing/_header.sass

// Services 
@import landing/_services.sass 

// Adjetivos
@import landing/_adjetivos.sass 

// Location
@import landing/_location.sass 

// Über Uns
@import landing/_uber-uns.sass 

// Kunden
@import landing/_kunden.sass 

// Kontakt & footer
@import landing/_kontakt.sass 

// Media 
@import landing/_media.sass 



