// Colors
$dark: #212121
$gray: #757575
$light: #BDBDBD
$white: #f9f9f9
$deepOrange: #FF5722
$orange: #F57C00
$lightOrange: #FF9800

// General
body
	font-family: 'Raleway', sans-serif
	background-color: $white
a 
	text-decoration: none
// Website
h2
	font-size: 35px
h3
	font-size: 28px
h2, h3
	font-weight: normal
a, p 
	font-size: 22px

.container
	margin: 0 auto
	width: 80%

nav
	background-color: $dark 
	#navbg
		background-color: $deepOrange
		position: relative
		width: 100%
		height: 120px
		top: -70px
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3)
		&:after
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
			position: absolute
			width: 100%
			height: 100%
			content: ''
			background-color: $deepOrange 
			top: 0
			right: 0 
			bottom: 0 
			left: 0
			transform-origin: top left
			transform: skewY(4deg)
			z-index: 1

	#navbar
		background-color: $white
		position: relative
		width: 100%
		height: 70px
		top: -140px
		z-index: 3
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
		&:after
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
			position: absolute
			width: 100%
			height: 100%
			content: ''
			background-color: $white 
			top: 0
			right: 0 
			bottom: 0 
			left: 0
			transform-origin: top left
			transform: skewY(2deg)
			z-index: -1
	ul 
		display: flex
		justify-content: flex-end
	li  
		margin-top: 30px
		padding: 20px
		position: relative 
		z-index: 2
		overflow: hidden
		&::before
			position: absolute
			top: 0
			left: 0
			z-index: -1
			width: 100%
			height: 100%
			background: $dark
			opacity: 0.2
			content: ''
			-webkit-transition: -webkit-transform 0.3s
			transition: transform 0.5s
			-webkit-transform: scaleY(0.618) translateX(-110%)
			transform: scaleY(0.618) translateX(-110%)
		&:hover::before, &:focus::before
			-webkit-transform: scaleY(0.618) translateX(0)
			transform: scaleY(0.618) translateX(0)
	a
		color: $dark
		padding: 20px


header
	height: 80vh
	background-color: $dark
	top: -150px
	z-index: -2
	text-align: center
	overflow: hidden
	#truck 
		width: 100%
		transform: translateZ(1px)
	h1
		font-size: 100px
		text-transform: uppercase
		color: $orange
		font-weight: black
		text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
		span
			color: $white
	h2
		color: $white
	button
		margin: 10px 
.buttons
	z-index: 3

.btn 
	position: relative
	background: none
	cursor: pointer
	min-width: 250px
	text-transform: uppercase
	position: relative
	border: 3px solid #fff
	padding: 20px 30px
	color: #fff
	overflow: hidden 
	&:after 
		content: ''
		position: absolute
		z-index: 0
		-webkit-transition: all 0.3s
		-o-transition: all 0.3s
		transition: all 0.3s
		width: 100%
		height: 0
		top: 50%
		left: 50%
		background: $orange
		opacity: 0
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg)
		-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg)
		transform: translateX(-50%) translateY(-50%) rotate(45deg) 
	&:hover, &:active 
		color: #000 
		border: 3px solid $deepOrange
	&:hover:after 
		height: 260%
		opacity: 1 
	&:active:after 
		height: 400%
		opacity: 1 
	a 
		color: $white 
		text-decoration: none
		padding: 20px 30px
		position: relative 
		z-index: 1
	


.flex
	display: flex
	div
		width: 100%

// Animation
#navbg, #navbar, #company 
	animation: appear 0.5s ease both 4s

nav, header
	animation: intro 0.7s ease both

.images
	position: absolute
	width: 10% 
	top: 35%
	left: 30vw
	animation: images 0.75s linear both 2s
	#box-one
		position: absolute
		left: 0vw
		animation: box 0.75s ease both 0.5s, move 0.25s ease-in both 2.75s 
	#box-two
		position: absolute
		left: 12vw 
		animation: box 0.75s ease both 0.9s, move 0.25s ease-in both 3s 
	#box-tree
		position: absolute
		left: 24vw 
		animation: box 0.75s ease both 1.3s, move 0.25s ease-in both 3.25s 

#truck
	position: relative
	animation: truck 0.75s ease both 2s, zuck 0.2s ease both 2.9s
	transition: all 0.4s 
	transform: scale(1)
	&:hover 
		transform: scale(1.2)

@keyframes intro
	0%
		width: 0%
	100%
		width: 100%

@keyframes box 
	0% 
		transform: scale(0) rotateZ(0deg)
	100%
		transform: scale(1) rotateZ(360deg)

@keyframes move
	0%

	100%
		left: 50vw

@keyframes images
	0%
		
	100%
		left: 10vw

@keyframes truck 
	0%
		left: 20vw
		opacity: 0
	100%
		left: 0
		opacity: 1

// @keyframes zuck
// 	0%
// 		top: 0
// 	50%
// 		top: -1vw
// 	100%
// 		top: 0 

@keyframes appear
	0%
		opacity: 0
		top: -20vh
	100%
		opacity: 1

// Main
#services
	text-align: center
	.row
		max-width: 550px  
		margin: 0 auto
		padding: 10px 20px 
		&:hover #van
			left: 55%
		&:hover #person
			left: 50%
	.illustrations
		position: relative
		margin: 30px 10px
		padding: 30px 0
		height: 100px
	
	#blue, #red, #van, #van-two, #person
		position: absolute
	// left
	.pin 
		width: 40px
	#blue 
		left: 5%
	#red 
		right: 5%
	#van 
		left: 15%
		top: -10%
		width: 150px
		transition: all 0.5s ease
	// rigth 
	#van-two 
		width: 200px
		right: 0%
		top: 0%
	#person
		width: 100px
		left: 20%
		transition: all 0.5s ease
