@media screen and (max-width: 1300px) {
  #uber-uns .flex div {
    width: 50vw;
    margin: 0 2vw; }
  #bild {
    left: 60%;
    top: 12%;
    max-width: 30vw;
    height: 400px; }
  #pawel {
    right: 5%;
    top: 0%;
    width: 90%; }
  .container {
    width: 90%; }
  header h1 {
    font-size: 70px; }
  header h2 {
    font-size: 25px; }
  button {
    margin: 10px; }
  .images {
    display: none; } }
